body {
    background-image: url('coffee.jpg');
    background-repeat: no-repeat;
    background-size: 25%;
    
}


#add-objective {background-color: rgb(164, 164, 248); color: rgb(36, 28, 28);} 
